<!doctype html>
<html lang="en">
    <head>
	    {{>head}}
		
    </head>
	
    <body ng-app="TheVig" ng-controller="AccountController" ng-init="init()">
		{{>login}}

        <!-- New Group Modal -->
        <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div style="width:35%;min-width:360px;margin-left:auto;margin-right:auto" class="modal-dialog">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:32px 16px 0px 16px;min-height:300px;text-align:center">
                    <img style="width:60%" src="/site/img/logo-dark.png" /><br /><br />
                    <hr />
                    <h3 style="margin-top:30px;text-align:center">Create Group</h3>
                    <div class="contact-form" style="margin-top:40px;width:90%;margin-left:auto;margin-right:auto">
                        <input style="background:#fff" ng-model="group.title" type="text" placeholder="Title" class="form-control">                    
                        <input style="background:#fff" ng-model="group.password" type="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="row" style="background:#fff;border-top:1px solid #ddd;margin-top:36px;padding-top:24px">
                          <button style="background:#fff" ng-click="createGroup()" type="submit" class="btn btn-large">Create</button>
                    </div>
                </div>
                
            </div>
          </div>
        </div>        

		
	    {{>nav}}
		
		
        <div class="main-container" ng-cloak>

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:900px">
                            <div class="widget">
                                <img style="width:94px;margin-bottom:24px;border:1px solid #ededed;background:#fff" ng-show="profile.image.length > 0" ng-src="https://media-service.appspot.com/site/images/<% profile.image %>?crop=360" />
                                <br />
                                <h6 class="title"><% profile.firstName %> <% profile.lastName %></h6>
                                <hr>
                                <ul class="recent-posts">
                                    <li>
                                        <a ng-click="currentSection = 'account'" href="">
                                            Account<span ng-show="currentSection == 'account'"> + </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="currentSection = 'groups'" href="">
                                            Groups<span ng-show="currentSection == 'groups'"> + </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a ng-click="currentSection = 'invitations'" href="">
                                            Invitations<span ng-show="currentSection == 'invitations'"> + </span>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!--end of widget-->

                    </div>

                    <div class="col-md-9 mb-xs-24">
                            <div ng-show="currentSection=='account'" class="post-snippet mb64" style="padding:48px">
                                <div class="sectionHeader" style="background:#f1f9f5">
                                    <h3>Account</h3>
                                    Manage your account details, image and Venmo Account.
                                </div>

                                <div ng-file-drop="onFileSelect($files, 'image', 'images')" style="width:48%;height:96px;background:#f9f9f9;border:1px solid #ddd;text-align:center">
                                    <img align="left" style="width:94px" ng-show="profile.image.length > 0" ng-src="https://media-service.appspot.com/site/images/<% profile.image %>?crop=360" />
                                    <br />
                                    Drag &amp; Drop Image to Change

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="contact-form" style="margin-top:20px;">
                                          <input ng-model="profile.firstName" type="text" placeholder="First Name" class="form-control">
                                          <input ng-model="profile.lastName" type="text" placeholder="Last Name" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="contact-form" style="margin-top:20px;">
                                          <input ng-model="profile.username" type="text" placeholder="Username" class="form-control">
                                          <input ng-model="profile.email" type="text" placeholder="Email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button ng-click="updateProfile(true)" style="background:#fff" type="submit" class="btn btn-large">Update Profile</button>

                            </div>

                            <div ng-show="currentSection=='groups'" class="post-snippet mb64" style="padding:48px">
                                <div class="sectionHeader" style="background:#f9f5f1">
                                    <h3>Groups</h3>
                                    These are the groups you currently belong to.
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <td>Name</td><td>Members</td>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr ng-repeat="group in profile.groups track by $index">
                                        <td><a href="/site/group/<% group.id %>"><% group.title %></a></td><td><% group.profiles.length %> members</td>
                                      </tr>
                                    </tbody>
                                </table>
                                <button style="background:#fff" data-toggle="modal" data-target="#createGroupModal" type="submit" class="btn btn-large">Create Group</button>
                            </div>
                            <!--end of post snippet-->


                            <div ng-show="currentSection=='invitations'" class="post-snippet mb64" style="padding:48px">
                                <div class="sectionHeader" style="background:#f2f2f8">
                                    <h3>Invitations</h3>
                                    You have been invited to the following groups.
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <td>Name</td><td>Members</td><td>&nbsp;</td>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr ng-repeat="group in profile.invited track by $index">
                                        <td><% group.title %></td>
                                        <td><% group.profiles.length %> members</td>
                                        <td><a ng-click="joinGroup(group)" class="btn btn-large" href="">Join</a></td>
                                      </tr>
                                    </tbody>

                                </table>

                            </div>
                            <!--end of post snippet-->


                    </div>


                </div>

            </section>

					
			
			{{>footer}}


        </div>
		
		{{>scripts}}
		
    </body>
</html>