<!doctype html>
<html lang="en">
    <head>
	    {{>head}}
		
    </head>
	
    <body ng-app="TheVig" ng-controller="AccountController" ng-init="init()">
		{{>login}}
		
	    {{>nav}}
		
		
        <div class="main-container">
		
		  <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); top:0px; background: url('/site/img/programming.jpg');">
                    <img alt="Background Image" class="background-image" src="/site/img/computer.jpg" style="display: none;">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Account</h3>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:2100px">
                            <div class="widget">
                                <h6 class="title">Workshops</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                    <li><a ng-click="currentSection = 'account'" href="">Account</a></li>
                                    <li><a ng-click="currentSection = 'groups'" href="">Groups</a></li>
                                    <li><a ng-click="currentSection = 'invitations'" href="">Invitations</a></li>
                                    
                                </ul>
                            </div>
                            <!--end of widget-->

                    </div>

                    <div class="col-md-9 mb-xs-24">
                            <div ng-show="currentSection=='account'" class="post-snippet mb64" style="padding:48px">
                                <h4>Account</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="contact-form" style="margin-top:40px;">
                                          <input ng-model="profile.firstName" type="text" placeholder="First Name" class="form-control">
                                          <input ng-model="profile.lastName" type="text" placeholder="Last Name" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="contact-form" style="margin-top:40px;">
                                          <input ng-model="profile.username" type="text" placeholder="Username" class="form-control">
                                          <input ng-model="profile.email" type="text" placeholder="Email" class="form-control">
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div ng-show="currentSection=='groups'" class="post-snippet mb64" style="padding:48px">
                                <h4>Groups</h4>

                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <td>Name</td><td>Members</td>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr>
                                        <td>Group 1</td><td>10 members</td>
                                      </tr>
                                      <tr>
                                        <td>Group 2</td><td>6 members</td>
                                      </tr>
                                    </tbody>
                                </table>
                                <button style="background:#fff" ng-click="login()" type="submit" class="btn btn-large">Create Gropup</button>
                            </div>
                            <!--end of post snippet-->


                            <div ng-show="currentSection=='invitations'" class="post-snippet mb64" style="padding:48px">
                                <h4>Invitations</h4>

                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <td>Name</td><td>Members</td>
                                      </tr>
                                    </thead>

                                    <tbody>
                                      <tr>
                                        <td>Group 1</td><td>10 members</td>
                                      </tr>
                                      <tr>
                                        <td>Group 2</td><td>6 members</td>
                                      </tr>
                                    </tbody>

                                </table>

                            </div>
                            <!--end of post snippet-->


                    </div>


                </div>

            </section>

					
			
			{{>footer}}


        </div>
		
		{{>scripts}}
		
    </body>
</html>