<!doctype html>
<html lang="en">
    <head>
		{{>head}}
		
    </head>
	
    <body ng-app="FullStack360" ng-controller="ForumController" ng-init="init()">
	
      {{>login}}
	
        <!-- Post Modal -->
        <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div style="width:35%;min-width:360px;margin-left:auto;margin-right:auto" class="modal-dialog">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal"><span style="margin-right:5px;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div style="background:rgba(249, 249, 249, 0.96);border:1px solid #ddd;padding:32px 16px 0px 16px;min-height:300px;text-align:center">
					<img style="width:60%" src="/site/img/logo-dark.png" /><br />
					<hr />
                    <h3 style="margin-top:30px;text-align:center">Submit Post</h3>
                    <div class="contact-form" style="margin-top:40px;width:90%;margin-left:auto;margin-right:auto">
                        <input style="background:#fff" ng-model="post.title" type="text" placeholder="Title" class="form-control">
                        <input style="background:#fff" ng-model="post.link" type="text" placeholder="Link" class="form-control">
						OR<br />
                        <textarea style="background:#fff;height:100px;margin-top:12px" ng-model="post.text" placeholder="" class="form-control"></textarea>
                    </div>
                    <div class="row" style="background:#fff;border-top:1px solid #ddd;margin-top:36px;padding-top:24px">
                          <button ng-click="submitPost()" style="background:#fff" data-toggle="modal" data-target="#postModal" type="submit" class="btn btn-large">Submit</button>
                    </div>
           	 	</div>
				
          	</div>
          </div>
        </div>        
	
	
	  {{>nav}}

        <div class="main-container">
		
            <section class="pt240 pb100 image-bg">
                <div class="background-image-holder">
                    <img alt="Background" class="background-image" src="/site/img/desk.png" />
                </div>
            </section>
			
			
            <section>
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-sm-12 text-center">
                            <h3>FORUM</h3>
							<button data-toggle="modal" data-target="#postModal" class="btn btn-large" style="background:#fff;border-radius:20px">Submit Post</button>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="tabbed-content button-tabs">
                                <ul class="tabs thirds mb64 mb-xs-24">
                                    <li class="active">
                                        <div class="tab-title"><span>All</span></div>
                                        <div class="tab-content text-left">
										
                                            <div ng-repeat="post in recentPosts.all track by $index">
                                                <div class="overflow-hidden">
                                                    <div class="pull-left">
                                                        <h4 ng-show="post.link.length==0" ng-cloak><a ng-click="openPost(post)" style="color:#47b475;font-weight:300" href="/site/post/<% post.id %>"><% post.title %></a></h4>
                                                        <h4 ng-show="post.link.length>0"><a ng-click="openPost(post)" style="color:#337ab7;font-weight:300" href=""><% post.title %></a></h4>
                                                        <span style="font-weight:100"><% post.profile.username %></span>
                                                        <span style="margin-left:6px;margin-right:6px">|</span>
                                                        <span style="font-weight:100"><% generalService.formattedDate(post.timestamp) %></span>
                                                        <span ng-show="post.link.length > 0" style="margin-left:6px;margin-right:6px;font-weight:100">|</span>
                                                        <span ng-show="post.link.length > 0" style="font-weight:100"><% post.source %></span>
                                                        <span style="margin-left:6px;margin-right:6px;font-weight:100">|</span>
                                                        <a style="font-weight:100" href="/site/post/<% post.id %>">Comments</a>
                                                    </div>
                                                </div>
                                                <p><% generalService.truncatedText(post.text, 240) %></p>
                                                <hr ng-show="$index != recentPosts.all.length-1" class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
											
											
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title"><span>Original</span></div>
                                        <div class="tab-content text-left">
										
                                            <div ng-repeat="post in recentPosts.originals track by $index">
                                                <div class="overflow-hidden">
                                                    <div class="pull-left">
                                                        <h4><a ng-click="openPost(post)" style="color:#47b475;font-weight:300" href="/site/post/<% post.id %>"><% post.title %></a></h4>
                                                        <span style="font-weight:100"><% post.profile.username %></span>
                                                        <span style="margin-left:6px;margin-right:6px">|</span>
                                                        <span style="font-weight:100"><% generalService.formattedDate(post.timestamp) %></span>
                                                        <span style="margin-left:6px;margin-right:6px;font-weight:100">|</span>
                                                        <a style="font-weight:100" href="/site/post/<% post.id %>">Comments</a>
                                                    </div>
                                                </div>
                                                <p><% generalService.truncatedText(post.text, 240) %></p>
                                                <hr ng-show="$index != recentPosts.originals.length-1" class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
											
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Links</span>
                                        </div>
                                        <div class="tab-content text-left">
										
                                            <div ng-repeat="post in recentPosts.links track by $index">
                                                <div class="overflow-hidden">
                                                    <div class="pull-left">
                                                        <h4><a ng-click="openPost(post)" style="color:#337ab7;font-weight:300" href=""><% post.title %></a></h4>
                                                        <span style="font-weight:100"><% post.profile.username %></span>
                                                        <span style="margin-left:6px;margin-right:6px">|</span>
                                                        <span style="font-weight:100"><% generalService.formattedDate(post.timestamp) %></span>
                                                        <span style="margin-left:6px;margin-right:6px;font-weight:100">|</span>
                                                        <span style="font-weight:100"><% post.source %></span>
                                                        <span style="margin-left:6px;margin-right:6px;font-weight:100">|</span>
                                                        <a style="font-weight:100" href="/site/post/<% post.id %>">Comments</a>
                                                    </div>
                                                </div>
                                                <p><% generalService.truncatedText(post.text, 240) %></p>
                                                <hr ng-show="$index != recentPosts.links.length-1" class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
											
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="bg-secondary" style="border-top:1px solid #ddd">
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-sm-12 text-center">
                            <h3>Meet the Team</h3>
                            <p style="width:60%;margin-left:auto;margin-right:auto" class="lead">
                                The Full Stack consists of engineers who work with cutting edge technologies. We are always improving our
								skillset and learning new concepts.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row mb80 mb-xs-24">
                        <div class="col-md-10 col-md-offset-1 p0">
						
                            <div class="col-sm-4 text-center mb40 mb-xs-24">
                                <img style="border:1px solid #fff" alt="Pic" class="mb24" src="/site/img/dankwon.jpg" />
                                <h5 class="mb0">Dan Kwon</h5>
                                <h6 class="uppercase">iOS, Node, Angular</h6>
                            </div>
                            <div class="col-sm-4 text-center mb40 mb-xs-24">
                                <img style="border:1px solid #fff" alt="Pic" class="mb24" src="/site/img/alex.jpg" />
                                <h5 class="mb0">Alex Vallorosi</h5>
                                <h6 class="uppercase">Angular, Backbone, HTML/CSS</h6>
                            </div>
                            <div class="col-sm-4 text-center mb40 mb-xs-24">
                                <img style="border:2px solid #ddd" alt="Pic" class="mb24" src="/site/img/caitlin.png" />
                                <h5 class="mb0">Caitlin Cummins</h5>
                                <h6 class="uppercase">Business Development</h6>
                            </div>
							
                        </div>
                    </div>
                    <!--end of row-->
					
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
							<h3>Interested in Working With The Full Stack?</h3>
							<p class="mb40 mb-xs-24">
								We're always looking for talented and passionate developers to teach workshops and offer instruction in other
								areas. In particular, we would love to meet you if you work with Django, Ruby on Rails, or React JS.
							</p>
							<a class="btn btn-lg btn-filled" href="#">Learn More</a>
                        </div>
                    </div>
                    <!--end of row-->
					
                </div>
                <!--end of container-->
            </section>
			
			{{>footer}}

        </div>
		
		{{>scripts}}
		
    </body>
</html>