<!doctype html>
<html lang="en">
    <head>
	    {{>head}}
		
    </head>
	
    <body ng-app="TheVig" ng-controller="HomeController" ng-init="init()">
	    {{>login}}
	    {{>register}}


	  	{{>nav}}

        <div class="main-container">
		
            <section class="image-square right">
                <div class="col-md-6 image ">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="/site/img/Sports_fans.jpg" />
                    </div>
                </div>
                <div style="height:721px;">
                <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0" style="margin-top: 2em; overflow:scroll;">
                    <h2 class="uppercase mb40 mb-xs-24 text-center">LEADERBOARD</h2>
                    <hr class="mb40 mb-xs-24 fade-half">
                    <ul>
                      <li class="mb40 mb-xs-24" style="">
                        <div class=" mb32">
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h4 class="uppercase pt8">Chad94</h4>
                    </div>
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h3 style="margin:0 !important;"class="uppercase mb40">158</h6>
                      <span style = "padding-top:0;">Morristown Football Loverz</span>
                    </div>
                    <div class="col-sm-4 text-right">
                      <h2><img style="width:120px;height:120px;border-radius:80px;border:2px solid #ddd; margin-right:24px; padding-bottom: 0;" src="/site/img/lax-bro.jpg"> </h2>
                    </div>
                        </div>
                        <hr class="fade-half mb0">
                      </li>
                      <li class="mb40 mb-xs-24" style="">
                        <div class=" mb32">
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h4 class="uppercase pt8">Chad94</h4>
                    </div>
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h3 style="margin:0 !important;"class="uppercase mb40">158</h6>
                      <span style = "padding-top:0;">Morristown Football Loverz</span>
                    </div>
                    <div class="col-sm-4 text-right">
                      <h2><img style="width:120px;height:120px;border-radius:80px;border:2px solid #ddd; margin-right:24px; padding-bottom: 0;" src="/site/img/lax-bro.jpg"> </h2>
                    </div>
                        </div>
                        <hr class="fade-half mb0">
                      </li>
                      <li class="mb40 mb-xs-24" style="">
                        <div class=" mb32">
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h4 class="uppercase pt8">Chad94</h4>
                    </div>
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h3 style="margin:0 !important;"class="uppercase mb40">158</h6>
                      <span style = "padding-top:0;">Morristown Football Loverz</span>
                    </div>
                    <div class="col-sm-4 text-right">
                      <h2><img style="width:120px;height:120px;border-radius:80px;border:2px solid #ddd; margin-right:24px; padding-bottom: 0;" src="/site/img/lax-bro.jpg"> </h2>
                    </div>
                        </div>
                        <hr class="fade-half mb0">
                      </li>
                      <li class="mb40 mb-xs-24" style="">
                        <div class=" mb32">
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h4 class="uppercase pt8">Chad94</h4>
                    </div>
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h3 style="margin:0 !important;"class="uppercase mb40">158</h6>
                      <span style = "padding-top:0;">Morristown Football Loverz</span>
                    </div>
                    <div class="col-sm-4 text-right">
                      <h2><img style="width:120px;height:120px;border-radius:80px;border:2px solid #ddd; margin-right:24px; padding-bottom: 0;" src="/site/img/lax-bro.jpg"> </h2>
                    </div>
                        </div>
                        <hr class="fade-half mb0">
                      </li>
                      <li class="mb40 mb-xs-24" style="">
                        <div class=" mb32">
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h4 class="uppercase pt8">Chad94</h4>
                    </div>
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h3 style="margin:0 !important;"class="uppercase mb40">158</h6>
                      <span style = "padding-top:0;">Morristown Football Loverz</span>
                    </div>
                    <div class="col-sm-4 text-right">
                      <h2><img style="width:120px;height:120px;border-radius:80px;border:2px solid #ddd; margin-right:24px; padding-bottom: 0;" src="/site/img/lax-bro.jpg"> </h2>
                    </div>
                        </div>
                        <hr class="fade-half mb0">
                      </li>
                      <li class="mb40 mb-xs-24" style="">
                        <div class=" mb32">
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h4 class="uppercase pt8">Chad94</h4>
                    </div>
                    <div class="col-sm-4" style="margin-top: 35px;">
                      <h3 style="margin:0 !important;"class="uppercase mb40">158</h6>
                      <span style = "padding-top:0;">Morristown Football Loverz</span>
                    </div>
                    <div class="col-sm-4 text-right">
                      <h2><img style="width:120px;height:120px;border-radius:80px;border:2px solid #ddd; margin-right:24px; padding-bottom: 0;" src="/site/img/lax-bro.jpg"> </h2>
                    </div>
                        </div>
                        <hr class="fade-half mb0">
                      </li>
                    </ul>
                  </div>
                  </div>
            </section>




            <section class ="bg-secondary">
                <div class="container bg-secondary">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 pt80 pt-xs-0">
                            <div class="feature bordered text-center bg-secondary">
                                <h3 class="uppercase mb40 mb-xs-24">Sunday</h3>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Redskins</h6>
                                    <p>
                                        2-3
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Ducks</h6>
                                    <p>
                                        3-1
                                    </p>
                                </div>
                            </div>
                            <div class="feature bordered text-center">
                                <h3 class="uppercase mb40 mb-xs-24">Monday</h3>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Cardinals</h6>
                                    <p>
                                        4-1
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Steelers</h6>
                                    <p>
                                        3-2
                                    </p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <div class="feature bordered hidden-xs hidden-sm">
                                <h1 class="large uppercase mb-xs-24">THIS WEEK'S GAMES</h1>
                            </div>
                            <div class="feature bordered text-center bg-primary">
                                <h3 class="uppercase mb40 mb-xs-24">Thursday</h3>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Falcons</h6>
                                    <p>
                                        5-0
                                    </p>
                                </div>
                                <div class="mb40">
                                    <h6 class="mb8 uppercase">Saints</h6>
                                    <p>
                                        1-4
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
			
			{{>footer}}
        </div>
		
		
		{{>scripts}}
		
		<script>
		  $("#workshopsButton").click(function() {
		     $('html, body').animate({
		         scrollTop: $("#workshops").offset().top
		     }, 500);
		  });
		</script>
    </body>
</html>