<!doctype html>
<html lang="en">
    <head>
	    {{>head}}
		
    </head>
	
    <body ng-app="TheVig" ng-controller="HomeController" ng-init="init()">
	    {{>login}}
	    {{>register}}


	  	{{>nav}}

        <div class="main-container">
		
            <section class="image-square right">
                <div class="col-md-6 image">
                    <div class="background-image-holder">
                        <img alt="image" class="background-image" src="/site/img/football.jpg" />
                    </div>
                </div>

                <div class="col-md-6 content">
                    <div class="text-right text-left-xs">
						<h2 class="uppercase bold italic">First Round Fantasy</h2>
						<a class="btn btn-lg mt32 mb0" data-toggle="modal" data-target="#registerModal">Sign Up</a>
					</div>
                </div>
            </section>
			
			{{>footer}}
        </div>
		
		
		{{>scripts}}
		
		<script>
		  $("#workshopsButton").click(function() {
		     $('html, body').animate({
		         scrollTop: $("#workshops").offset().top
		     }, 500);
		  });
		</script>
    </body>
</html>