<!doctype html>
<html lang="en">
    <head>
	    {{>head}}
		
    </head>
	
    <body ng-app="FullStack360" ng-controller="CourseDescriptionController" ng-init="init()">
		{{>login}}
		
	    {{>nav}}
		
		
        <div class="main-container">
		
		  <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); top:0px; background: url('/site/img/programming.jpg');">
                    <img alt="Background Image" class="background-image" src="/site/img/computer.jpg" style="display: none;">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">MVP Program</h3>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section style="border-top:1px solid #ddd;padding-top:0px;padding-bottom:0px">
                <div class="row-fluid">
                    <div class="col-md-3 hidden-xs bg-secondary" style="border-right:1px solid #ddd;padding:48px 24px 0px 48px;min-height:2100px">
                            <div class="widget">
                                <h6 class="title">Workshops</h6>
                                <hr>
                                <ul class="link-list recent-posts">
                                    <li>
                                        <a href="/#workshops">MEAN Stack Demo</a>
                                        <span class="date">Sept 21, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">iOS Demo</a>
                                        <span class="date">Sept 19, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">Node JS Crashcourse</a>
                                        <span class="date">Sept 26-27, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">iOS Crashcourse</a>
                                        <span class="date">Sept 26-27, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">8-Week Node JS Course</a>
                                        <span class="date">Oct 06, 2015</span>
                                    </li>
                                    <li>
                                        <a href="/#workshops">8-Week iOS Course</a>
                                        <span class="date">Oct 05, 2015</span>
                                    </li>
                                    
                                </ul>
                            </div>
                            <!--end of widget-->

                    </div>

                    <div class="col-md-9 mb-xs-24">
                            <div class="post-snippet mb64" style="padding:48px">
                                <div class="post-title">
                                    <img align="right" style="width:50%;margin-bottom:24px;margin-left:24px" src="/site/img/fueled.jpg" />
                                    <h4>Build Your MVP</h4>
                                    <p class="lead">
                                      Got a great idea for a website or startup? The MVP program can turn your idea into a real, functional prototype. The Full Stack uses real ideas for course material in our 8-week programs. By developing actual products, we feel our students gain a better feel for the development process and all that it entails. 
                                    </p>
                                </div>
                                
                                <hr />
                                <h4>Process</h4>
                                <ol style="font-size:16px;padding-left:24px;font-weight: 400;">
                                    <li>Submit your project proposal (see below)</li>
                                    <li>We will review each submission and contact you if your project is reasonable for one of our courses.</li>
                                    <li>If we move forward with your project, we will set the scope and requirements which are subject to change.</li>
                                    <li>We promote your project in one of our upcoming 8-week Node or iOS courses.</li>
                                    <li>If we enroll 6 or more students (not including a free spot for the project founder), the course will activate and the project will be built!</li>
                                </ol>

                                <hr />
                                <h4>Terms</h4>
                                <p class="lead">
                                  If selected, your project proposal will be developed for no monetary fee during one of our 8-week courses (iOS or Node JS). We will also provide one spot in the course to the project submittor free of charge. In exchange, the Full Stack will maintain a 5% equity stake in the project after the course concludes. As such, it is in your best interest to take the free course so you will understand how your MVP is being built and can support it during testing and beyond.
                                  <br /><br />
                                  Since the Full Stack will maintain an equity position in the project, we prefer teams that have some experience in startups over those with no familiarity whatsoever. We also lean strongly towards ideas that are monetizable or at least have an intended path towards monetization. We would not likely move foward with an idea that is purely a social network with the hope of generating revenue through advertising.
                                </p>

                                <br />
                                <hr />

                              <div class="row">
                                <div class="col-md-6">
                                  <h4>Submit Your Idea</h4>
                                  <input type="text" ng-model="proposal.name" placeholder="Project Name" />
                                  <input type="text" ng-model="proposal.email" placeholder="Your Email" />
                                  <textarea style="height:160px" ng-model="proposal.description" placeholder="Description"></textarea>
                                  <button ng-click="submitIdea()" style="background:#fff;border-radius:22px" class="btn btn-large">Submit</button>
                                </div>
                                
                                <div class="col-md-6">
                                  <img style="margin-top:56px" src="/site/img/google.jpg" />
                                </div>


                              </div>

                            </div>
                            <!--end of post snippet-->

                    </div>


                </div>

            </section>

					
			
			{{>footer}}


        </div>
		
		{{>scripts}}
		
    </body>
</html>